@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

#carousel {
  width: 600px;
  margin: 100px auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#heading {
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
}

.underline {
  background-color: #339af0;
  height: 10px;
  border: none;
  border-radius: 20px;
  width: 25%;
}

.review {
}

.img-container {
}

#author-name {
}

#author-job {
}

#author-review {
}

.footer {
}

.navigation-btn {
}

.btn {
}

.btn-prev {
}

.btn-next {
}

.random-btn {
}
