@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7f5ff;
  font-family: "Inter", sans-serif;
  color: #343a40;
}

#carousel {
  width: 600px;
  margin: 100px auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 48px;
}

#heading {
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
}

.underline {
  background-color: #339af0;
  height: 5px;
  border: none;
  border-radius: 20px;
  width: 25%;
}

.review {
  margin: auto;
  width: 600px;
  background-color: #fff;
  padding: 24px 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 10px;
  z-index: -1;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.img-container {
  margin: auto;
  position: relative;
  z-index: 0;
}

.backdrop {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #74c0fc;

  position: absolute;
  left: 7%;
  bottom: 5%;
  z-index: -1;
}

#author-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.author-info {
  text-align: center;
}

#author-name {
  letter-spacing: 5px;
  margin-bottom: 4px;
}

#author-job {
  text-transform: uppercase;
  font-size: 14px;
  color: #339af0;
  margin-bottom: 12px;
}

#author-review {
  line-height: 1.5;
}

.footer {
  margin: auto;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.navigation-btn {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.btn-prev,
.btn-next {
  width: 24px;
  height: 24px;
  stroke-width: 2.5;
  cursor: pointer;
  stroke: #339af0;
}

.btn {
  background: none;
  border: none;
  display: inherit;
}

.btn-prev,
.btn-next {
  stroke: #339af0;
}

.random-btn {
  background-color: #fff;
  padding: 4px 12px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #339af0;
  color: #339af0;

  transition: all 300ms ease;
}

.random-btn:hover {
  background-color: #339af0;
  color: #fff;
}
